.icon-codepen:before {
	content: "\f216";
}

.phrase {
	display: flex;
	justify-content: flex-start;
	flex-flow: column wrap;
	-ms-flex-flow: column wrap;
}

.phrase>.text>span {
	font-size: 30px;
	font-style: italic;
	font-family: 'Raleway', sans-serif;
}

.phrase>.author {
	font-weight: bold;
	font-style: italic;
}